html {
    background: transparent;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
background: linear-gradient(45deg, #00ff22 25%, transparent 25%,
transparent 75%, #9429ff 75%),
linear-gradient(45deg, #d9ff00 75%, transparent 100%,
        transparent 75%, #ff0000 75%) 0.1875em 0.1875em,
radial-gradient(at 75% 0, #131828, #bb7eff);
background-size: 0.375em 0.375em, 0.375em 0.375em, 100% 100%;
}

#messages {
    position: relative;
    color: #000000;
    left: 140px;
    right: -30px;
}

#nick {
 position: absolute;
 font-size: 20pt;
 width:  15%;
 height: 50px;
 left: 10%;
 top: 10%;
 transform: translate(-50%, -50%)
}

#button {
    position: absolute;
    background-color: #4b2388;
    border: none;
    font-size: 28px;
    color: #03fdf3;
    padding: 10px;
    top: 6%;
    left: 70.5%;
    width: 200px;
    height: 55px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

#button:after {
    content: "";
    background: #ffffff;
    display: block;
    position: absolute;
    padding-top: 30%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

#button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

textarea {
 position: absolute;
 border: none;
 font-size: 15pt;
 width:  50%;
 height: 50px;
 left: 45%;
 top: 10%;
 transform: translate(-50%, -50%)
}

#root {
    z-index: 17;
}

.ul.message-list{
    margin: 10px;
}


